h1 {
    color: #000000;
    font-size: 5vw;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 2vw 0;
  }


  .header {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: -10;
    
  }
  
  .headertext-about {
  
    width:60%;
   
    text-align: left;
    height: 45vh;
    margin: 5vh  auto;
    padding: 4vw 4vw 4vw 4vw;
   
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    animation: fadeInDown 1s ease-in-out;
   
    z-index: -1;
  
 
    
  }


  p {
    font-size: 3vh;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    width: 35%;
    position: absolute;

  }
  
  .head {
      position: absolute;
     top: 40%;
    height: 30vw;
    right: 10%;
   
    
  }
  

  @media only screen and (max-width: 620px) {
    .head {
 
        visibility: hidden;
 
 
    }

    p {
        font-size: 4vw;
        text-align: center;
        margin: 15vh 0 0 7vw;
    }

    .headertext-about {
        height: 60vh;
        width: 50vw;
        margin: 15vh auto;
    }
  }