:root {
  /* variables css*/
 

  /*10 pixels (100% = 16 pixels)*/

  background-image: url('https://i.imgur.com/6dSMaY1.jpg'); 
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  

 top: 0;


}


* {
  margin: 0;
  padding: 0;
  border: 0;
}


.mobile-hidden {
  visibility: hidden;
}
  
