.landing-container {
  display: flex;
  justify-content: center;

  flex-direction: row;
  z-index: -50;
  margin: 2vh auto;
  background-color: rgb(255, 255, 255, 0.3);
  width: 80%;
  height: 75vh;
  border-radius: 15px;
  box-shadow: 0 4px 11px 1px rgba(24, 23, 23, 0.459);
}

.landing-text {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  z-index: 0;
  margin: 30px;
}

name {
  margin: 10px;
}

.icon {
  height: 3vw;
}
.landing-image {
  height: 60vh;
}

a {
  z-index: 100;
}

@media only screen and (max-width: 770px) {
  .landing-container {
    margin: 10vh auto;
  }
}
