.landing-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  z-index: -50;
  margin: auto;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.spacer {
  height: 2vh;
}

.top-section {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
}

.space-one {
  background-color: rgb(255, 211, 211);
  height: 100%;
  width: 60%;
}

.image-one {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-two {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing-text {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.name {
  color: rgb(38, 39, 39);
  width: 70%;
  font-size: 30px;
}

.title {
  width: 70%;
  color: rgb(200, 140, 240);
  font-size: 13px;
}

.about {
  width: 70%;
  margin-top: 15px;
  font-size: 14px;
  color: grey;
  line-height: 1.5;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}

.space-two {
  background-color: rgb(221, 255, 0);
  height: 100%;
  width: 20%;
}

.contact-info {
  width: 40%;
  height: 99%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.info {
  margin: 2vh;
  text-align: center;
  font-size: 15px;
  color: rgb(66, 66, 65);
  text-decoration: none;
}

.info:hover {
  background-color: rgb(250, 17, 17);
  color: white;
}

.email {
  color: rgb(58, 58, 58);
  font-size: 14px;
}

.repo {
  color: rgb(58, 58, 58);
  font-size: 12px;
}

.logos-container {
  display: flex;
  flex-direction: row;
  margin: 2vh auto;
}

#contact-logo {
  font-size: 30px;
  margin: 0 3vh 0 3vh;
  color: rgb(0, 116, 89);
}

.space-three {
  background-color: rgb(30, 61, 199);
  height: 100%;
  width: 40%;
}

@media (max-width: 700px) {
  .landing-container {
    height: 100%;
    border-bottom: 1px rgb(189, 189, 189) solid;
  }

  .top-section {
    flex-direction: column;
    width: 100%;
  }

  .bottom-section {
    flex-direction: column;
    width: 100%;
  }

  .space-one {
    width: 100%;
    height: 20vh;
  }

  .landing-text {
    margin: 5vh auto;
    width: 100%;
    text-align: center;
  }

  .space-two {
    width: 100%;
    height: 5vh;
  }

  .contact-info {
    width: 100%;
  }

  .space-three {
    margin: 5vh auto;
    width: 100%;
    height: 30vh;
  }
}
