h1 {
    color: #000000;
    font-size: 6vh;
    font-family: 'Open Sans', sans-serif;
    margin: 2vw auto;
    
  }


  .header {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: -10;
    
  }
  
  .headertext-skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:50%;
   
    text-align: left;
    height: 100%;;
    margin: 5vh auto;
    padding: 1.5vw 0 3vw 4vw;
   
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    animation: fadeInDown 1s ease-in-out;
   
    z-index: -1;
  
   
    
  }
  


 
  .skills {
    height: 25vw;
    margin: auto;
  }
 

  @media only screen and (max-width: 620px) {
    .skills {
 
        margin: 15vh 0 0 0;
        height: 30vw;
 
 
    }
    .headertext-skills {
        margin: 10vh auto;
        height: 60vh;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 1vw 0 0;
    }

    h1 {
        margin: 0 0 0 5vw;
    }
  }