.navi-link {
    text-decoration: none;
    font-size: 15px;
    margin: 1vh auto;
    color: black;
    z-index: 30;
    padding: 0 2vh 0 2vh;
    display: flex;
}

.headshot {
    margin: -1vh auto;
    height: 35px;
    border-radius: 50% 50%;
    display: flex;
    position: absolute;
    right: 3vh;
}


@media  (max-width: 632px){
    .headshot{
        visibility: hidden
    }
}
    
