.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.project-nav-button {
  list-style: none;
  font-size: 13px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(80, 80, 80);
  cursor: pointer;
  padding: 2px;
}

.project-nav-button:hover {
  background-color: rgb(221, 255, 0);
}

@media (max-width: 632px) {
  .project-nav {
    margin: 20px auto;
  }

  .project-nav-button {
    font-size: 11px;
  }
}
